html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.main-banner{
    background-image: url("mlblack.jpg");
    padding: 10px;
    max-width: 100%;
    align-content: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 810px;
    background width: 1920px;
 
    
}
.navigation-bar {
    display: inline-block;
    width: 100%;  
    height: 20%; 
    background-color: white; 
    text-align: center;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    text-align: center;
    
    
  
}
.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.menu {
    padding-left: 30px;
}

.menu a {
    padding-right: 25px;
}

img {
    padding: 10px;
    max-width: 100%;
    align-content: center;
    
}

div {
    width: auto;
}


.footer {
    display: flex;
    position: fixed;
    background-color: black;
    color: white;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    font-family: poppins, sans-serif;
    left: 0;
    bottom: 0;
    
}

.copyright-content {
   
    background-color: black;
    color: antiquewhite;
    text-align: center;
    justify-content: center;
    height: 80px;
    padding-top: 5%;

}


.about-me {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top:50px;
    padding-bottom:65px;

}

.unit {
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top:50px;
  padding-bottom:65px;

}

.unit p {
 padding-bottom: 20px;
  
}

.about-me p {
   padding-bottom: 20px;
    
}

.call-to-action {
    text-align: end;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    font-size: small;
    padding: 2%;
}

.button {
    background-color:darkorange; 
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;    
  }

  .button:hover {
    background-color: white; /* Green */
    color: darkorange;
  }

  .skills {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    padding-top:50px;
    padding-bottom:65px;

}

.skills p {
   padding-bottom: 20px;
}

.skills .row {
  display: flex;
}
  
 
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  

  .row {
    margin: 8px -16px; 
  }

  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 25%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  .col-lg-4 {
    padding-right: 55px;
  }

  .icon i {
    font-size: 18px;
    display: inline-block;
    font-size: 2.5em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 30px;
    padding: 16px 0;
    color: black;
    
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  height: 50px;
  justify-items: center;
  padding-top: 25px;
}

/* Style the links inside the navigation bar */
.topnav a {
  
  color: #f2f2f2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  text-justify: distribute;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: darkorange;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkorange;
  color: white;
}
 
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
 
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

